body {
    background:#F0F0F2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 5px;
    margin: 5px;
    background:#99BF0F;
}

.assignment img{
    width: 200px;
    padding: 2px;
    border: 2px solid #3E5902;
    margin-right: 10px;
}

h1{
    color:#3E5902;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}